<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Details</title>
</head>
<body>
    <h1>Message Details</h1>
    <h2><%= message.text %></h2>
    <p>By: <%= message.user %></p>
    <p>Added on: <%= message.added %></p>
    <a href="/">Back to messages</a>
</body>
</html>